# Adapted from http://dfm.io/posts/travis-latex/
sudo: required

dist: trusty

language: python

matrix:
    include:
        - os: linux
          env: PYTHON_VERSION=3.4 NUMPY_VERSION=1.11

install:
    - source .ci/travis.sh

script:
    - py.test -v

after_success:
    - source .ci/build-paper.sh
