name: tests

on:
  push:
    branches: [master]
  pull_request:

jobs:
  tests:
    name: "Test ${{ matrix.pymc-version }} on py${{ matrix.python-version }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10"]
        pymc-version: ["3.11"]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/cache@v3
        with:
          path: ~/.theano
          key: ${{ runner.os }}-${{ matrix.python-version }}-${{ matrix.pymc-version }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-${{ matrix.pymc-version }}-

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install ${{ matrix.pymc-version }}
          STARRY_UNIT_TESTS=1 python -m pip install -e ".[tests]"

      - name: Run tests
        run: python -m pytest -v
